# CANVAS Studio - Master Gitignore

# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.history/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android/iOS Build
/android/app/debug
/android/app/profile
/android/app/release

# Security (Critical!)
.env
*.keystore
*.jks
lib/core/constants/app_constants.dart
*constant*.dart

# Node.js / Automation
node_modules/
package-lock.json
npm-debug.log*
